<StackLayout class="ah-main-container">
    <ActionBar title="Apphoven" class="ah-action-bar">
    </ActionBar>

    <!-- <GridLayout rows="auto" columns="*, *">
        <StackLayout row="0" col="0" class="grid-button">
            <Label [text]="addPieceIcon" class="icon-font"></Label>
            <Label text="New Piece" class="heading-font"></Label>
        </StackLayout>
        <StackLayout row="0" col="1" class="grid-button">
            <Label [text]="pieceListIcon" class="icon-font"></Label>
            <Label text="Piece List" class="heading-font"></Label>
        </StackLayout>
    </GridLayout> -->
    <Button (tap)="navigateTo('/addpiece')" text="add piece"></Button>
    <Button (tap)="navigateTo('/piece-list')" text="Piece List"></Button>
    <Label text=" "></Label> 
    <Button (tap)="navigateTo('/audio-recorder')" text="record audio"></Button>
    <Button (tap)="navigateTo('/audio-list')" text="list audio"></Button>
    <Label text=" "></Label> 
    <Button (tap)="navigateTo('/practice-session')" text="practice sessions"></Button>
    <Label text=" "></Label> 
    <Button (tap)="navigateTo('/settings')" text="Settings"></Button>
    <!-- <Button (tap)="navigateTo('/profile')" text="Profile"></Button> -->
    <!-- <Button (tap)="navigateTo('/metronome')" text="Metronome"></Button> -->
</StackLayout>

<DockLayout stretchLastChild="false">
    <Button (tap)="practiceNow()" dock="bottom" text="PRACTICE NOW" class="practice-button" ></Button>
</DockLayout>