/* Hide a bunch of things to setup the initial animations */
.form-controls, .sign-up-stack {
  opacity: 0;
}

.background {
  /* background-image: url("res://bg"); */
  background-color: #E95D59;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* TODO: Assigning explicit heights and applying this margin shouldn’t be necessary. */
.initial-container {
  margin-top: 170;
}
.initial-logo {
  horizontal-align: center;
  margin-bottom: 10;
}
.initial-label {
  color: white;
  horizontal-align: center;
  margin-bottom: 80;
}
.initial-button {
  border-radius: 5;
  background-color: white;
  color: #E53935;
  height: 45;
  width: 275;
  vertical-align: center;
  margin-bottom: 10;
}
.initial-button-label {
  horizontal-align: center;
  font-weight: bold;
}

.main-container {
  visibility: collapse;
  opacity: 0;
  horizontal-align: center;
  vertical-align: center;
  background-color: white;
}
.main-label {
  horizontal-align: center;
  color: black;
}

Image {
  margin-top: 5;
  margin-bottom: 20;
}
Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
.submit-button {
  background-color: #E53935;
  color: white;
  margin-top: 20;
}

.forgot-password-label {
  font-size: 13;
  margin-left: 20;
  margin-bottom: 45;
  color: black;
}
.sign-up-stack {
  background-color: #311217;
  width: auto;
}
.sign-up-stack Label {
  color: white;
  horizontal-align: center;
  font-size: 15;
  margin-top: 10;
  margin-bottom: 10;
}

.logo-container {
  visibility: collapse;
  horizontal-align: center;
  opacity: 0;
}


/* ------ */

.main-container {
  height: auto;
  width: 80%;
}
.initial-label {
  font-size: 32;
  letter-spacing: 0.4;
}
.main-label {
  font-size: 28;
  margin-top: 32;
  margin-bottom: 32;
  letter-spacing: 0.2;
}
TextField {
  margin-bottom: 10;
}
.submit-button {
  margin-top: 15;
}
.sign-up-stack Label {
  padding-top: 5;
  height: auto;
  text-transform: uppercase;
}
.forgot-password-label {
  font-size: 13;
  text-transform: uppercase;
}
.logo-container Image {
  top: 90;
}