<ActionBar title="Search">
</ActionBar>

<StackLayout #searchContainer>
    <SearchBar #sb hint="Search" [text]="searchPhrase" (textChange)="search(sb.text)"></SearchBar>    
    <Label text="{{ searchResp[0] }}"></Label>

    <ListView [items]="composerArray" class="list-group" (itemTap)="onItemTap($event)">
        <template let-composer="item" let-i="index" let-odd="odd" let-even="even">
            <GridLayout class="list-group-item">
                <Label [text]="composer.name_de"></Label>
            </GridLayout>
        </template>
    </ListView>

</StackLayout>

<StackLayout #composerAddContainer class="composers-add-container">
    <TextField #cName hint="Composer Name"></TextField>
    <TextField #cBirthYear hint="Composer Birth Year" type="number"></TextField>
    <TextField #cDeathYear hint="Composer Death Year" type="number"></TextField>
    <TextField #cEra hint="Composer Era"></TextField>
    <TextField #cNationality hint="Composer Nationality"></TextField>
    <TextField #cDescENG hint="Composer Description English"></TextField>
    <TextField #cDescDE hint="Composer Description German"></TextField>
    <Button (tap)="addComposer(cName.text, cBirthYear.text, cDeathYear.text, cEra.text, cNationality.text, cDescENG.text, cDescDE.text)" text="Add Composer"></Button>
</StackLayout>