/*
 *  APPHOVEN THEME MODIFICATION
 *
 * (parent: core.light.css)
 * (color schemes must coherent with android mainfest colors)
 * (Tarek Alakmeh, april 2017)
 *
 */


/*
 * CONTAINER COLORS 
 */
.ah-c-primary {
  background-color: #E53935;
}

.ah-c-primaryDark {
  background-color: #C62828;
}

.ah-c-accent {
  background-color: #EEEEEE;
}

/*
 * TEXT COLORS
 */

.ah-text-primary {
  color: white;
  opacity: 0.87;
}

.ah-text-secondary {
  color: #757575;
}

.ah-text-hint {
  color: white;
  opacity: 0.38;
}

/*
 * Font
 */

.h1 {
  font-size: 25;
}

.h2 {
  font-size: 22;
}

.p {
  font-size: 20;
}

.input-info, .input-info-container {
  padding: 0 10 10 10;
  font-size: 13;
  color: #757575;
}

.input-info-container {
  padding: 0;
  margin: 0 10 10 10;
}

/*
 * ICONS
 */

.icon-font {
    font-family: 'fontawesome';
}


.ah-main-container {
  /* background-image: url("res://bg"); #982528 */
  /* background-color: #FAFAFA; */
  padding: 20%;
}

.ah-main-container-red {
  background-color: #E53935;
  color: white;
  padding: 20%;
}

.ah-action-bar {
  /*background-color: #232323;*/
  color: white;
}

.light-background{
  /* background-color: #F3F3F3; */
  background-color: #FAFAFA;
}

.text-center {
  text-align: center;
}

.font-light {
   color: #F9F9F9;
}

.font-dark {
  color: #757575;
}

.beethoven-container {
  background-color: #F44336;
  padding: 20 10 20 10;
}

.beethoven-msg {
  background-color: #FAFAFA;
  color: black;
  margin: 0 0 0 5;
  padding: 10;
  border-radius: 10;
  height: auto;
}

/*
 * ListView
 */

.list-group-item {
  padding: 18;
}

.list-group-item-heading {
  font-size: 18;
}