<ActionBar title="Apphoven" class="ah-action-bar"></ActionBar>
<StackLayout class="ah-main-container">
    <StackLayout class="piece-container">
            <StackLayout class="movement-container">
                <!-- <Label class="piece-text" text="Your current pieces:"></Label> -->
                <!-- <StackLayout class="movement-list-current">-->
                <StackLayout>
                    <ListView class="list-group clear-background" [items]="pieceArray" separatorColor="transparent" (itemTap)="onPieceTap($event)">
                        <template let-piece="item">
                            <StackLayout class="list-group-item clear-background"> 
                                <GridLayout rows="auto, auto"columns="*, auto">
                                    <Label row="0" col="0" class="list-group-item-heading" [text]="piece.title"></Label>
                                    <Label row="1" col="0" class="list-group-item-text" textWrap="true" [text]="piece.movements" visibility="{{piece.movements ? 'visible' : 'collapsed' }}"></Label>
                                    <Label row="0" col="1" class="icon-font icon-container" [text]="iconSettings" (tap)="showPieceOptions(piece.id)"></Label>                            
                                </GridLayout>
                            </StackLayout>
                        </template>
                    </ListView>
                </StackLayout>
            </StackLayout>
    </StackLayout>
</StackLayout>