.list-group-item-text {
    padding: 0;
    margin: 0;
}

.piece-heading {
    font-size: 20;
}

.piece-checkbox {
  margin-right: 10;
  height: 20;
  width: 20;
}

.list-record-container {
    background-color: transparent;
}

.list-group-item {
    margin: 20 0 20 20;
    padding: 20 0 20 20;
}

.list-group-item-heading {
    font-size: 18;
}

.icon-container {
    padding: 0 10 10 10;
}