.list-group-item-text {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0;
}

.piece-heading {
    font-size: 20;
}

.piece-checkbox {
  margin-right: 10;
  height: 20;
  width: 20;
}

.list-record-container {
    background-color: transparent;
}

.list-record-item {
    background-color: #f7f7f7;
    padding: 10%;
    border-radius: 3px;
    margin-bottom: 20;
}

.icon-container {
    padding: 0 10 10 10;
}