<ActionBar android:title="Profil" backgroundColor="#8C489F">
  <!-- <ActionItem text="left item" ios.position="left"></ActionItem>
  <ActionItem text="Item" ios.position="right" android.position="popup"></ActionItem>
  <ActionItem>
    <Label class="m-5" text="Custom item" color="#8C489F"></Label>
  </ActionItem> -->
</ActionBar>
<ListView class="list-group" [items]="countries" (itemTap)="onItemTap($event)" separatorColor="red">
    <template let-country="item">
        <StackLayout class="list-group-item">
            <Label [text]="country.name" class="list-group-item-heading"></Label>
            <Label [text]="country.desc" class="list-group-item-text" textWrap="true"></Label>
        </StackLayout>
    </template>
</ListView>