.main-container {
  /* background-image: url("res://bg");
  background-color: #E53935; */
  padding: 20%;
}

.search-container {
    background-color: #f7f7f7;
    padding: 3%;
    border-radius: 5;
}

.search-composer-list, .sb-composer {
    visibility: visible;
}

.search-piece-list, .sb-piece, .piece-container {
    visibility: collapse;
}

/*.search-piece-list {
    background-color: #982528;
}*/

.piece-container {
    background-color: #f7f7f7;
    padding: 10%;
    border-radius: 5;
}

.piece-checkbox {
    margin-right: 10;
    height: 20;
    width: 20;
}

.piece-heading {
    font-size: 20;
}

.no-movements-info {
    margin: 32 0 0 0;
}

.movement-item {
    margin: 10 0 10 0;
}