<StackLayout class="main-container primary-color font-dark" padding="20% 20% 0 20%">
    <StackLayout>
        <StackLayout style="margin-bottom: 10; color: white">
            <Label class="title-regular" text="ADD PIECE FROM COMPOSER:"></Label>
            <Label text="{{ composerName }}" fontWeight="bold"></Label>
        </StackLayout>
        <StackLayout>
            <StackLayout class="input-container">
                <TextField id="workTitle" hint="Work Title" text=""></TextField>
                <ScrollView orientation="horizontal" class="input-info-container"><Label text="Title of the piece as whole work, not specific movements!"></Label></ScrollView>
            </StackLayout>
            <StackLayout class="input-container">
                <TextField class="input" id="workNumber" hint="Work Number (ex. Op.1)" text=""></TextField>
                <ScrollView orientation="horizontal" class="input-info-container"><Label text="Number of the piece as whole work, not specific movements (Don't: Op.1 Nr.1)"></Label></ScrollView>
            </StackLayout>
            <StackLayout class="input-container">
                <GridLayout rows="auto" columns="auto, *" padding="10 10 0 10">
                    <Label text="Does this work contain movements?"></Label>
                    <Switch checked="false" (checkedChange)="movementSwitch($event)" row="0" col="1"></Switch>
                </GridLayout>
                <ScrollView height="60%" visibility="{{ movementSwitchState ? 'visible' : 'collapsed' }}">
                    <StackLayout visibility="{{ movementSwitchState ? 'visible' : 'collapsed' }}">
                        <TextField *ngFor="let movement of movementArray" class="input" id="movement{{movement.id}}" hint="Movement Title {{ movement.id+1 }}" text=""></TextField>
                    </StackLayout>
                </ScrollView>
            </StackLayout>
            <GridLayout visibility="{{ movementSwitchState ? 'visible' : 'collapsed' }}" rows="auto" columns="*,*">
                    <Label row="0" col="0" text="+1 MOVEMENT" class="button-add-movement" (tap)="addMovementTextField()"></Label>
                    <Label row="0" col="1" text="-1 MOVEMENT" (tap)="removeMovementTextField()" class="{{ movementCounter > 0 ? 'button-remove-movement' : 'button-remove-movement-disabled' }}"></Label>
            </GridLayout>
            <Button text="Add Piece" (tap)="addPiece()"></Button>
        </StackLayout>
    </StackLayout>
</StackLayout>
