TextField {
    font-family: "OpenSans-Regular";
    border-width: 0 0 0 0;
    border-bottom-color: white;
}

.button-add-movement, .button-remove-movement, .button-remove-movement-disabled {
    background-color: #f7f7f7;
    width: auto;
    margin: 3 3 9 3;
    padding: 3;
    text-align: center;
    border-width: 0;
    border-radius: 4;
    color: green;
}

.button-remove-movement {
    background-color: #f7f7f7;
    color: red;
}

.button-remove-movement-disabled {
    background-color: #DADADA;
    color: #757575;
}

.input-container {
    background-color: #f7f7f7;
    padding: 5%;
    border-radius: 5;
    margin-bottom: 6;
}