.main-container {
  /* background-image: url("res://bg"); */
  background-color: #982528;
  padding: 20%;
}

.search-container {
    background-color: #f7f7f7;
    padding: 3%;
    border-radius: 3px;
}

.search-composer-list, .sb-composer {
    visibility: visible;
}

.search-piece-list, .sb-piece, .piece-container {
    visibility: collapse;
}

/*.search-piece-list {
    background-color: #982528;
}*/

.list-group-item-text {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0;
}

.piece-container {
    background-color: #f7f7f7;
    padding: 10%;
    border-radius: 3px;
}

.piece-heading {
    font-size: 20;
}

.piece-checkbox {
  margin-right: 10;
  height: 20;
  width: 20;
}
