button {
    /*margin: 5%;
    padding: 2%;
    font-size: 19;
    font-weight: bold; 
    color: #F9F9F9;
    border-radius: 5;*/
    background-color: #E53935;
}

.amplitude {
    background-color: #E53935;
}
/* test */
.recording-select-container {
    visibility: collapse;
    vertical-align: stretch;
    height: 100%;
}

.recordButtonContainer {
    margin-top: 0;
}

.meterLineListView {
    margin-bottom: 20;
}

.save-button {
    background-color: #757575;
    width: 100%;
    height: 60;
    border-radius: 1;
}

.top-correction {
    font-size: 12;
    margin-top: -12;
}

.small-top-correction {
    margin-top: 2;
}

/*
 * Audio Meter
 */

.audiometer-container {
    padding: 30% 30% 0 30%;
}

.audiometer-signal, .audiometer-dividder {
    padding: 20%;
    width: 200;
}

.audiometer-signal {
    /*border-width: 5;*/
    border-radius: 10;
    border-color: #EEF12C;
    padding: 20%;
    width: 200;
}

.signal-start-glowing {
    animation-name: opacity;
    animation-duration: 0.3;
}
@keyframes opacity {
    from { opacity: 0.5; }
    to { opacity: 1; }
}


.tag-item-light {
    margin-right: 8;
    border-radius: 5;
    padding: 5 8 4 8;
}

.tag-activated {
    background-color: #D04F4F;
}