.list-group-item-text {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0;
}

.piece-heading {
    font-size: 20;
}

.piece-checkbox {
  margin-right: 10;
  height: 20;
  width: 20;
}

.list-record-item {
    margin: 10 0 10 0;
    padding: 22%;
    color: white;
    border-color: transparent;
    border-width: 1;
    border-radius: 4;
}

.list-record-item-add {
    margin: 10 0 10 0;
    padding: 22%;
    color: white;
    border-color: transparent;
    border-width: 2;
    border-radius: 4;
}

.icon-font {
    font-family: 'fontawesome';
    font-size: 20;
    text-align: right;
}

.heading-container {
    /* color: white;
    background-color: #E95D59;*/
}

.heading-content {
    padding: 30% 20% 30% 20%;
}

.bottom-button {
    margin: 0 20 7 20;
}

.container-correction{
    padding-bottom: 7;
}

.bgi1 {
    background-image: url("res://bg_landscape_3");
}
.bgi2 {
    background-image: url("res://bg_landscape_2");
}
.bgi3 {
    background-image: url("res://bg_landscape_3");
}
.background-image {
    /*background-image: url("https://firebasestorage.googleapis.com/v0/b/apphoven.appspot.com/o/piece-box-graphics%2Fbg_landscape-2.png?alt=media&token=4f3e8b63-835d-4705-bf7d-e0a6ff22a78d");*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}