<StackLayout>
    <StackLayout class="heading-container">
        <StackLayout class="heading-content primary-color background-image {{ randomImage }}">
            <Label style="margin-bottom: 1" class="title-regular" text="{{ pieceComposer }}"></Label>
            <ScrollView orientation="horizontal">
                <Label class="title-bold hugetitle" textWrap="true" text="{{ pieceTitle }}"></Label>
            </ScrollView>
            <StackLayout *ngIf="!showPieceForum || movementId == -1">
                <Label class="piece-text" text="Work-Number: {{ pieceWorkNumber }}"></Label>
                <Label class="piece-text" text="Movements: {{ pieceMovementAmount }}" visibility="{{pieceMovementAmount ? 'visible' : 'collapsed' }}"></Label>
            </StackLayout>
            <StackLayout *ngIf="showPieceForum && movementId != -1">
                <Label class="piece-text" text="Work-Number: {{ pieceWorkNumber }}"></Label>
                <Label class="piece-text" text="Movement: {{ pieceMovementArrayAll[movementId].title }}"></Label>
            </StackLayout>
    </StackLayout>
    </StackLayout>
    <GridLayout rows="*, auto">
        <StackLayout row="0" class="ah-main-container container-correction">
            <!-- PIECE-FORUM Component -->
            <ah-piece-forum *ngIf="showPieceForum"></ah-piece-forum>
            <!-- / PIECE-FORUM Component / -->
            <StackLayout #pieceContainer class="piece-container" [visibility]="!showPieceForum ? 'visible' : 'collapsed'">            
                <StackLayout class="movement-container" visibility="{{pieceMovementAmount ? 'visible' : 'collapsed' }}">
                        <ListView [items]="selectedArray" separatorColor="white" (itemTap)="handleItemTap($event)">
                            <ng-template let-movement="item">
                                <GridLayout rows="* auto" columns="*"> 
                                    <GridLayout rows="auto, auto" columns="*" class="{{ movement.state ? 'list-record-item secondary-color-light' : 'list-record-item-add primary-color' }}">
                                        <Label class="title-bold" text="{{ movement.title }}" row="0" col="0"></Label>
                                        <!-- <Label text="{{ showRemainingMovements ? (movement.state ? 'delete' : 'ADD TO LIST') : (movement.state ? 'CLICK TO RECORD' : 'ADD TO LIST') }}" row="1" col="0"></Label>-->
                                        
                                        <StackLayout *ngIf="showRemainingMovements" row="0" col="0">
                                            <Label class="icon-font" text="{{ movement.state ? iconRemove : iconAdd }}"></Label>
                                        </StackLayout>                           
                                    </GridLayout>
                                </GridLayout>
                            </ng-template>
                        </ListView>
                </StackLayout>
            </StackLayout>
        </StackLayout>
        <Button *ngIf="!showPieceForum && componentLoaded" row="1" class="bottom-button" [text]="toggleButtonText" (tap)="toggleRemainingMovements()"></Button>
    </GridLayout>
</StackLayout>