.list-group-item-text {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0;
}

.piece-heading {
    font-size: 20;
}

.piece-checkbox {
  margin-right: 10;
  height: 20;
  width: 20;
}

.list-record-item {
    margin: 10 0 10 0;
    padding: 10%;
    border-color: grey;
    border-width: 1;
    border-radius: 4;
}

.list-record-item-add {
    margin: 10 0 10 0;
    padding: 10%;
    color: #39bc32;
    border-color: #39bc32;
    border-width: 2;
    border-radius: 4;
}

.icon-font {
    font-family: 'fontawesome';
    font-size: 20;
    text-align: right;
}

.heading-container {
    padding: 20%;
    color: white;
    background-color: #E53935;
}

.bottom-button {
    margin: 0 20 7 20;
}

.container-correction{
    padding-bottom: 7;
}