.list-group-item-text {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0;
}

.piece-container {
    background-color: #f7f7f7;
    padding: 10%;
    border-radius: 3px;
}

.piece-heading {
    font-size: 20;
}

.piece-checkbox {
  margin-right: 10;
  height: 20;
  width: 20;
}

.list-record-container {
    background-color: transparent;
    padding: 10%;
}

.list-record-item {
    padding: 10%;
    border-color: grey;
    border-width: 1;
    border-radius: 4;
}

.list-record-item-add {
    padding: 10%;
    border-color: #303030;
    border-width: 1;
    border-radius: 4;
}

.icon-font {
    font-family: 'fontawesome';
    font-size: 20;
    text-align: right;
}