<StackLayout>
    <StackLayout class="heading-container">
        <ScrollView #scrlView orientation="horizontal">
            <Label class="piece-heading" text="{{ pieceTitle }}"></Label>
        </ScrollView>
        <Label class="piece-text" text="Composer: {{ pieceComposer }}"></Label>
        <Label class="piece-text" text="Work-Number: {{ pieceWorkNumber }}"></Label>
        <Label class="piece-text" text="Movements: {{ pieceMovementAmount }}" visibility="{{pieceMovementAmount ? 'visible' : 'collapsed' }}"></Label>
    </StackLayout>
    <GridLayout rows="*, auto">
        <StackLayout row="0" class="ah-main-container container-correction">
            <StackLayout #pieceContainer class="piece-container">            
                <StackLayout class="movement-container" visibility="{{pieceMovementAmount ? 'visible' : 'collapsed' }}">
                    <Label class="piece-text text-center" text="Movements on your practice list:"></Label>
                        <ListView [items]="selectedArray" separatorColor="white" (itemTap)="handleItemTap($event)">
                            <template let-movement="item">
                                <GridLayout rows="* auto" columns="*"> 
                                    <GridLayout rows="auto, auto" columns="*" class="{{ movement.state ? 'list-record-item' : 'list-record-item-add' }}">
                                        <Label class="piece-heading" text="{{ movement.title }}" row="0" col="0"></Label>
                                        <!-- <Label text="{{ showRemainingMovements ? (movement.state ? 'delete' : 'ADD TO LIST') : (movement.state ? 'CLICK TO RECORD' : 'ADD TO LIST') }}" row="1" col="0"></Label>-->
                                        
                                        <StackLayout *ngIf="showRemainingMovements" row="0" col="0">
                                            <Label class="icon-font" text="{{ movement.state ? iconRemove : iconAdd }}"></Label>
                                        </StackLayout>                           
                                    </GridLayout>
                                </GridLayout>
                            </template>
                        </ListView>
                </StackLayout>
            </StackLayout>
        </StackLayout>
        <Button row="1" class="bottom-button" [text]="toggleButtonText" (tap)="toggleRemainingMovements()"></Button>
    </GridLayout>
</StackLayout>