<ActionBar class="ah-action-bar primary-color">
    <GridLayout columns="*">
        <Label col="0" text="YOUR RECORDINGS" class="title-regular"></Label>
    </GridLayout>
</ActionBar>
<StackLayout class="ah-main-container">
    <StackLayout class="piece-container">
            <StackLayout class="movement-container">
                <!-- <Label class="piece-text" text="Your current pieces:"></Label> -->
                <!-- <StackLayout class="movement-list-current"> -->
                <StackLayout>
                    <GridLayout *ngIf="noRecordingsFound" rows="*, auto" class="p-20">
                        <Image row="0" src="res://empty_shelf_red_recorder" stretch="aspectFill"></Image>
                        <Label row="1" text="No recordings found" class="text-center p-5 m-10"></Label>
                    </GridLayout>
                    <ListView class="list-group clear-background" [items]="fbRecordingArray" separatorColor="transparent" (itemTap)="onRecordingTap($event)">
                        <ng-template let-recording="item">
                            <StackLayout class="list-group-item clear-background"> 
                                <GridLayout rows="auto, auto"columns="*, auto">
                                    <Label row="0" col="0" class="list-group-item-heading" [text]="recording.displayTitle"></Label>
                                    <Label row="1" col="0" class="list-group-item-text" textWrap="true" text="{{ recording.recordingDate | date:'medium' }}" visibility="{{recording.recordingDate ? 'visible' : 'collapsed' }}"></Label>
                                    <Label row="0" col="1" class="icon-font icon-container" [text]="iconSettings" (tap)="showRecordingOptions(recording.fileName)"></Label>                    
                                </GridLayout>
                            </StackLayout>
                        </ng-template>
                    </ListView>
                </StackLayout>
            </StackLayout>
    </StackLayout>
</StackLayout>