label, .icon-font {
    color: #F9F9F9;
}

button {
    background-color: #858585;
}

.submit-button {
    /*margin-top: 10%;*/
}

textfield {
    margin-top: 10%;
    color: #F9F9F9;
}

.piece-heading {
    font-size: 15;
    margin: 5;
}

.ah-main-container-s {
    background-color: #555555;
    padding: 20%;
}

.recording-time {
    color: #F9F9F9;
    font-size: 70;
    text-align: center;
}
.timer-container {
    background-color: transparent;
    padding: 3%;
    border-radius: 3px;
}

.session-rating-container, .piece-selection-container {
    visibility: collapse;
    background-color: transparent;
}

.icon-adjust {
    padding-left: 5%;
    padding-top: 10%;
    /*margin-top: 22%;*/
}

.icon-font {
    font-family: 'fontawesome';
    font-size: 48;
}

.icon-bar-container {
    margin: 5% 10% 5 10%;
    text-align: center;
}

.engage-icon {
    width: auto;
    text-align: center;
}

.piece-information-container {
    text-align: center;
}

.rating-information {
    text-transform: uppercase;
    text-align: center;
}

.autoselect-item {
    padding: 10%;
    border-radius: 3px;
    border-width: 3px;
    border-color: white;
    font-weight: bold;
    margin-bottom: 20;
}

.piece-checkbox {
  margin-right: 10;
  height: 30;
  width: 30;
}

.regular-list-item {
    background-color: #444444;
    padding: 10% 10% 10% 20%;
    margin: 10 0 10 0;
    border-radius: 5;
    font-size: 14;
    vertical-align: center;
}

.multi-list-item {
    background-color: #444444;
    padding: 10%;
    margin: 10 0 10 0;
    border-radius: 5;
    /*margin: 15;*/
    font-size: 14;
    vertical-align: center;
    height: 81;
}

.text-adjust {
    margin-left: 4%;
}

.text-margin-plus {
    padding-top: 10%;
}

.button-container {
    margin-top: 15;
}

.info-text {
    margin-bottom: 5;
    color: #b5b5b5;
}

.select-mult-button-class {
    padding: 4;
    width: 220;
    background-color: #444444;
    border-radius: 5;
    text-transform: uppercase;
}

.input-field {
    max-height: 100;
    color: white;
}

.icon-button {
    color: #E9E9E9;
    text-align: center;
    margin: 10;
    font-size: 30;
}

.icon-button-big{
    /* background-color: #444444; */
    color: #E9E9E9;
    text-align: center;
    margin: 10%;
    font-size: 100;
    /* border-radius: 5; */
    width: auto;
}